@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

li {
    list-style: none;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    gap:40px;
    padding: 10px;
}

@media (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }
}

.navbar ul{
    display: flex; 
    justify-content: space-between;
    gap:20px;
    font-size: 18px;
}
.navbar h3,ul{
    padding: 10px 10px 0 0;
}

.navbar h3{
    font-size: 24px;
    color:#f9faf8;

}

.bg{
    background-color:#1f2937;
}

/* one */

.one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2em;
    gap: 20px;
    padding: 8vh 0 8vh 0;
    /* Da li da stavim ovako? */
    grid-template-areas: 
    "tex image"
}

.one-text   {grid-area: tex;}
.one-img    {grid-area: image;}

@media (max-width:768px){
    .one{
        grid-template-columns: 1fr;
        grid-template-areas:
        "tex"
        "image"
    }
}

.one-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    padding: 10px;
    
}

@media (max-width:768px){
    .one-text{
        align-items: center;
        text-align: center;
        gap:60px;
    }
}
.one-text h1{
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
}

.one-text p{
    font-size: 18px;
    color:#e5e7eb;
}

.one-img{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.one-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        border:3px solid #3882f6 ;
}
/* Zapamti ovo/Slika u div pa onda ovo gore,prve tri stavke */
@media (max-width:768px){
    .one-img img{
        max-width: 400px;
        max-height: 200px;
    }
}
/* two */
.two{
    display: grid;
    gap: 10px;
    padding: 12vh 10px 12vh 10px;
    grid-template-areas: 
    "header header header header"
    "logoone logotwo logothree logofour";
}
.two-header   {grid-area: header;}
.logos-1      {grid-area: logoone;}
.logos-2      {grid-area: logotwo;}
.logos-3      {grid-area: logothree;}
.logos-4      {grid-area: logofour;}

@media (max-width:768px){
    .two{
        grid-template-areas: 
        "header header"
        "logoone logotwo"
        "logothree logofour";
    }
}

@media (max-width:425px){
    .two{
        grid-template-areas: 
        "header"
        "logoone"
        "logotwo"
        "logothree"
        "logofour";
    }
}
.two img{
    border:3px solid #3882f6 ;
    border-radius: 8px;
    margin: 30px 0 0 0;
}
.two p{
    font-size: 18px;
    font-weight: bold;
    color:#3a4064;
}
.two-header{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}


.logos-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logos-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logos-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logos-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* Three */

.three{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0 50px 0;
}
@media (max-width:428px){
    .three{
        padding: 50px;
        gap:30px
    }
}
.three p{
    display: flex;
    justify-content:center;
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color:#1f2937;
}

.three h5{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    color:#1f2937;
    padding-right: 20px;
}

@media (max-width:428px){
    .three h5{
        justify-content: center;
    }
}

/* Four */
.fourcont{
    margin: 50px;
}
.four{
    display: flex;
    justify-content: space-between;
    background-color:#3882f6 ;
    border-radius: 5px;
    color:#e5e7eb;
    gap:40px;
    padding: 30px;
}

@media (max-width:428px){
    .four{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.four a{
    display: flex;
    align-items: center;
    border: 2px solid white;
}

.four h5{
    font-size: 17px;
    font-weight: bold;
    color:white ;
}
.four p{
    padding-top: 10px;
}


/* Five */

.five{
display: flex;
justify-content: center;
gap: 20px;
background-color:#1f2937;
color: white;
padding: 20px;
font-size: 10px;
}



/* Utilites */ 

.container{
    max-width: 1100px;
    margin: 10px auto;
}

.btn{
    background-color:#3882f6 ;
    color: white;
    border-radius: 5px;
    padding: 8px 30px;
}